{% load compress %}
{% load static %}

<!DOCTYPE html>
 <html lang="fr" >
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landwind - Tailwind CSS Landing Page Demo</title>
    <!-- Meta SEO -->
    <meta name="title" content="ESI-OCR">
    <meta name="description" content="Transforme your image to text with AI">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Themesberg">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="manifest" href="{% static '/site.webmanifest'%} ">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="{% static '/css/output.css' %}" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body class="dark">
    <header class="fixed w-full">
        <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-900">
            <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
                <a href="#" class="flex items-center">
                    
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">ESI-OCR</span>
                </a>
                <div class="flex items-center lg:order-2">
                    <div class="hidden mt-2 mr-4 sm:inline-block">
                        <a id="dl_mode">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="sun" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun-icon lucide-sun hidden">
                                <circle cx="12" cy="12" r="4" />
                                <path d="M12 2v2" />
                                <path d="M12 20v2" />
                                <path d="m4.93 4.93 1.41 1.41" />
                                <path d="m17.66 17.66 1.41 1.41" />
                                <path d="M2 12h2" />
                                <path d="M20 12h2" />
                                <path d="m6.34 17.66-1.41 1.41" />
                                <path d="m19.07 4.93-1.41 1.41" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="moon" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon-icon lucide-moon text-white">
                                <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- <a href="#" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Log in</a> -->
                    <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                    <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                        <li>
                            <a href="#home" class="block py-2 pl-3 pr-4 text-white bg-purple-700 rounded lg:bg-transparent lg:text-purple-700 lg:p-0 dark:text-white" aria-current="page">Home</a>
                        </li>
                        <li>
                            <a href="#app" class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Image To text</a>
                        </li>
                        <li>
                            <a href="#team" class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Our Teams</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Start block -->
    <section id="home" class="bg-white dark:bg-gray-900">
        <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
            <div class="mr-auto place-self-center lg:col-span-7">
                <p class=" max-w-2xl mb-4 text-4xl font-semibold leading-none tracking-tight md:text-5xl xl:text-6xl"><span id="title" style="color:white;">Turn Images into Words with<span> <span class="text-purple-600 font-bold">Deep Learning</span></s>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Experience the power of intelligent text extraction, built for precision and performance. Our advanced OCR engine
                combines Convolutional Neural Networks (CNNs) for robust visual feature detection with Bidirectional LSTMs (BLSTMs) for
                context-aware text recognition. This state-of-the-art architecture allows us to accurately extract text from scanned
                documents, photos, and natural scenes
                
                All powered by modern AI.</p>
                <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                    <a href="" class="bg-purple-600 inline-flex items-center justify-center w-full px-5 py-3 text-sm font-medium text-center text-gray-900 border border-gray-200 rounded-lg sm:w-auto hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github-icon lucide-github  mr-2">
                            <path
                                d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4" />
                            <path d="M9 18c-4.51 2-5-2-7-2" />
                            </svg>View on GitHub
                    </a>
                    <a href="{% static 'Rapport_OCR.pdf' %}" class="ring-purple-600 inline-flex items-center justify-center w-full px-5 py-3 text-sm font-medium text-center text-gray-900 border border-gray-200 rounded-lg sm:w-auto hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-file-text-icon lucide-file-text  mr-2">
                            <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
                            <path d="M14 2v4a2 2 0 0 0 2 2h4" />
                            <path d="M10 9H8" />
                            <path d="M16 13H8" />
                            <path d="M16 17H8" />
                        </svg>View report
                    </a>
                </div>
            </div>
            <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                <img src="{% static 'image/hero.png' %}" alt="hero image">
            </div>                
        </div>
    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-16">
          <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-6 text-center">Tools and Frameworks</h2>
          <div class="flex flex-wrap justify-between gap-8 text-6xl sm:text-7xl md:text-8xl">
            <i class="devicon-html5-plain-wordmark colored hover:text-gray-900 dark:hover:text-white"></i>
            <i class="devicon-css3-plain-wordmark colored hover:text-gray-900 dark:hover:text-white"></i>
            <i class="devicon-python-plain-wordmark colored hover:text-gray-900 dark:hover:text-white"></i>
            <i class="devicon-pytorch-plain-wordmark colored hover:text-gray-900 dark:hover:text-white"></i>
            <i class="devicon-django-plain-wordmark text-green-500 hover:text-gray-900 dark:hover:text-white"></i>
          </div>
        </div>
      </section>
      
    <!-- End block -->
    <section id="app" class="bg-white dark:bg-gray-900 py-12">
        <div class="max-w-screen-xl mx-auto px-4">
            <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-6 text-center">Upload Your Image</h2>
    
            <form id="ocr-form" enctype="multipart/form-data" method="POST"
                class="bg-gray-50 dark:bg-gray-800 rounded-lg shadow p-6 space-y-6">
                {% csrf_token %}
    
                <!-- Image input -->
                    <div class=" flex grid justify-center gap-3 place-items-center " id="area_img">
                        
                        <div id="image-preview" class="  mt-1 text-center justify-self-center">
                            <div class="w-full h-full"></div>
                            <img id="preview-img" src="{% static 'image/Image upload-bro.svg' %}" alt="Preview" class="mx-auto rounded shadow fade-in w-[300px] h-[350px] " />
                        </div>
                        <input class="text-center rounded-lg dark:text-white" type="file" name="image" id="input_file"/>
                    </div>
    
                <!-- Button Group -->
                <div class="flex flex-wrap gap-4 justify-center">
                    <button type="submit"
                        class="px-5 py-2 bg-purple-600 hover:bg-purple-700 text-white font-medium rounded-lg text-sm focus:outline-none focus:ring-2 focus:
                         dark:focus:ring-purple-800">
                        Extract text
                    </button>
                    <button type="button"
                        class="px-5 py-2 bg-purple-600 hover:bg-purple-700 text-white font-medium rounded-lg text-sm">
                        Download Text
                    </button>
                    <button type="button"
                        class="px-5 py-2 bg-purple-600 hover:bg-purple-700 text-white font-medium rounded-lg text-sm">
                        Translate
                    </button>
                    <button type="button"
                        class="px-5 py-2 bg-purple-600 hover:bg-purple-700 text-white font-medium rounded-lg text-sm">
                        Extract Email
                    </button>
                    <button type="button"
                        class="px-5 py-2 bg-purple-600 hover:bg-purple-700 text-white font-medium rounded-lg text-sm">
                        Extract phone number
                    </button>
                    <button type="button"
                        class="px-5 py-2 bg-slate-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 text-gray-900 dark:text-white font-medium rounded-lg text-sm">
                        Clear
                    </button>
                </div>
    
                <!-- Result Textarea -->
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-700 dark:text-white" >Language</label>
                    <div class="my-3">
                        <div class="radio-inputs ">
                            <label class="radio">
                                <input type="radio" name="radio" checked="true" value="en" />
                                <span class="name">English</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="radio" value="ar" />
                                <span class="name">Arabic</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="radio" value="es" />
                                <span class="name">Espagnol</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="radio" value="fr" />
                                <span class="name">Baguette</span>
                            </label>                        
                        </div>
                        
                    </div>
                    <div id="loading" class="hidden">
                        <div class="loader mx-auto"></div>
                    </div>
                    <label for="ocr-result" class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">Extracted Text</label>
                    <textarea id="ocr-result" rows="8" readonly
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-100 rounded-lg border border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                        placeholder="{{text}}"></textarea>
                </div>

            </form>
        </div>
    </section>
    <!-- Start block -->
    <section id="team" class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
            <div class="max-w-screen-md mx-auto mb-12 text-center lg:mb-12">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Our Teams</h2>
                <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Behind every great project is a team of dedicated, passionate, and skilled individuals. Our team brings together
                expertise in software development, design, and project management to deliver innovative and reliable solutions. We
                believe in collaboration, creativity, and pushing boundaries to help you achieve your goals with the best technology at
                hand..</p>
                <div class="flex gap-5 justify-between mt-15">
                    <div class="grid justify-between">
                        <div class="w-32 h-32 mb-5">
                            <img src="https://avatars.githubusercontent.com/elhabib-bit" class="w-32 h-32 border-2 border-black rounded-full" alt="">
                        </div>
                        <p class="my-2 font-bold text-gray-500 sm:text-lg dark:text-gray-400">El habib CHAMA</p>
                        <p class="my-2 font-semibold text-gray-500 sm:text-sm dark:text-purple-600 text-purple-600">Data scientist</p>
                    </div>
                    <div class="grid justify-between">
                        <div class="w-32 h-32 mb-5">
                            <img src="https://avatars.githubusercontent.com/chocoliss" class="w-32 h-32 border-2 border-black rounded-full" alt="">
                        </div>
                        <p class="my-2 font-bold text-gray-500 sm:text-lg dark:text-gray-400">Islam MANSAR</p>
                        <p class="my-2 font-semibold text-gray-500 sm:text-sm dark:text-purple-600 text-purple-600">Data Engenier</p>
                    </div>
                    <div class="grid justify-between">
                        <div class="w-32 h-32 mb-5">
                            <img src="https://avatars.githubusercontent.com/Skamroun" class="w-32 h-32 border-2 border-black rounded-full" alt="">
                        </div>
                        <p class="my-2 font-bold text-gray-500 sm:text-lg dark:text-gray-400">Saad KAMROUN</p>
                        <p class="my-2 font-semibold text-gray-500 sm:text-sm dark:text-purple-600 text-purple-600">Data Analysit</p>
                    </div>
                    

                    
                </div>
            </div>
        </div>    
    <!-- Start block -->
    <section class="bg-gray-50 dark:bg-gray-800">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
            <div class="max-w-screen-sm mx-auto text-center">
                <h2 class="mb-4 text-3xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white">Try Our new API</h2>
                <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">Try ESI-OCR API . No credit card required.</p>
                <a href="#" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800">For <span class="line-through "> 200$</span> 98.99$</a>
            </div>
        </div>
    </section>
    <!-- End block -->
    <footer class="bg-white dark:bg-gray-800 ">
        <div class="max-w-screen-xl p-4 py-6 mx-auto lg:py-16 md:p-8 lg:p-10">
            <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-5">
                <div>
                    <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Company</h3>
                    <ul class="text-gray-500 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="#" class=" hover:underline">About</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Careers</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Brand Center</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Blog</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Help center</h3>
                    <ul class="text-gray-500 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Discord Server</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Twitter</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Facebook
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h3>
                    <ul class="text-gray-500 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Licensing</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Terms</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Company</h3>
                    <ul class="text-gray-500 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="#" class=" hover:underline">About</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Careers</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Brand Center</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Blog</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Download</h3>
                    <ul class="text-gray-500 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">iOS</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Android</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Windows</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">MacOS</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
            <h1 class="text-purple-600 text-center font-bold text-2xl dark:text-white ">
                Convolutional Neural Network
            </h1>
        </div>
    </footer>
    <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
</body>
<script>
    document.getElementById("ocr-form").addEventListener("submit",async function(e) {
        e.preventDefault();

        const fileInput = document.getElementById("input_file");
        const resultArea = document.getElementById("ocr-result");

        // Simulate OCR processing (Replace this with actual fetch/AJAX call)
        if (fileInput.files.length > 0) {
            resultArea.value = "Processing image... ";
            const formData = new FormData();
            const langue = document.querySelector('input[name="radio"]:checked').value;
            formData.append("image", fileInput.files[0]);
            formData.append("langue",langue)
            try {
                document.getElementById("loading").classList.remove("hidden")
                const response = await fetch("{% url 'ocr_api' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    body: formData
                });
                document.getElementById("loading").classList.add("hidden")

                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                
                const data = await response.json();
                
                resultArea.value = data.text || "No text extracted.";
            } catch (error) {
                document.getElementById("loading").classList.add("hidden")
                resultArea.value = "Error during OCR: " + error.message;
            }

        } else {
            alert("Please select an image.");
        }
    });

    // Translate button
    document.querySelector("button:nth-child(2)").addEventListener("click", () => {
        alert("Translate feature coming soon!");
    });

    // Download text
    document.querySelector("button:nth-child(3)").addEventListener("click", () => {
        const text = document.getElementById("ocr-result").value;
        const blob = new Blob([text], { type: "text/plain" });
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = "ocr-result.txt";
        link.click();
    });
    //Extract email
    document.querySelector("button:nth-child(4)").addEventListener("click", () => {
            alert("coming soon")
        });
        //Extract phone
    document.querySelector("button:nth-child(5)").addEventListener("click", () => {
            
            alert("coming soon")
        });


    // Clear button
    document.querySelector("button:nth-child(6)").addEventListener("click", () => {
        document.getElementById("input_file").value = "";
        document.getElementById("ocr-result").value = "";
        //document.getElementById('image-preview');
        document.getElementById('preview-img').src ="{% static 'image/Image upload-bro.svg' %}";
    });



    document.getElementById('input_file').addEventListener('change', function (event) {
            const file = event.target.files[0];
            const previewContainer = document.getElementById('image-preview');
            const previewImage = document.getElementById('preview-img');

            if (file && file.type.startsWith('image/')) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    previewImage.src = e.target.result;
                    previewContainer.classList.remove('hidden');
                    previewImage.classList.add('fade-in');
                };
                reader.readAsDataURL(file);
            } else {
                previewContainer.classList.add('hidden');
                previewImage.src = '#';
            }
        });
    document.getElementById("dl_mode").addEventListener("click",()=>{
        moon = document.getElementById("moon")
        sun = document.getElementById("sun")
        if(document.body.classList.contains("dark"))
        {
            document.body.classList.remove("dark")
            moon.classList.add("hidden")
            sun.classList.remove("hidden")
            document.getElementById("title").style.color = "black"
        }
        else
        {
            document.body.classList.add("dark")
            moon.classList.remove("hidden")
            sun.classList.add("hidden")
            document.getElementById("title").style.color = "white"
        }

    })

    
</script>
    
</html>